@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger-menu {
    @apply flex h-16 w-16 items-center justify-center bg-[#F9C303];
  }

  .hamburger {
    @apply relative z-20 block cursor-pointer lg:hidden;
  }

  .hamburger-line-first {
    @apply m-auto h-0.5 w-6 bg-black transition duration-300;
  }

  .hamburger-line-second {
    @apply m-auto mt-1 h-0.5 w-6 bg-black transition duration-300;
  }

  .hamburger-line-first-open {
    @apply translate-y-0.5 rotate-45;
  }

  .hamburger-line-second-open {
    @apply -translate-y-1 -rotate-45;
  }
}

/* Dots */
.slick-dots li button:before {
  font-family: "slick";
  font-size: 16px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
